<link rel="stylesheet" type="text/css" href="/assets/organic-grid/index.css"/>
<div id="interactive-demo">
  <svg viewBox="0 0 100 100" id="organic_grid_svg">
    <rect width="100" height="100" stroke="black" fill="transparent" stroke-width=".2" />
  </svg>
  <div id="buttons">
      <div class="color-button color-1"></div>
      <div class="color-button color-2"></div>
      <div class="color-button color-3"></div>
      <div class="color-button color-4"></div>
      <div class="color-button color-5"></div>
      <div class="color-button color-6"></div>
      <div class="color-button color-7"></div>
      <div id="btn-clear" class="button"><span>CLEAR</span></div>
      <div id="btn-regenerate" class="button"><span>REGENERATE</span></div>
  </div>
</div>
<br/><br/><br/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/numjs/0.16.0/numjs.min.js"></script>
<script src="https://unpkg.com/delaunator@4.0.1/delaunator.min.js"></script>
<script src="/assets/js/gpu-browser.min.js"></script>
<script src="/assets/organic-grid/index.js"></script>
