<style>
    .yin-yang-container {
        text-align: center;
    }

    input[type=range] {
        width: 55%;
    }

    label {
    }
</style>
<div class="yin-yang-container">
    <canvas></canvas><br/>
    <label for="speed">Speed: </label><br/><input type="range" id="speed" min="5.3" max="9.9" step=".05" value="5.76"/><br/><br/>
    <label for="impact">Impact strength: </label><br/><input type="range" id="impact" min="3.4" max="5.7" step=".01" value="4"/><br/><br/>
    <label for="smoothness">Smoothness: </label><br/><input type="range" id="smoothness" min="5" max="31" step="2" value="15"/><br/><br/>
    <script src="/assets/more-eternal-struggle/index.js"></script>
</div>
