body {
	font-family: "Roboto";
}

pre {
	tab-size: 4;
}

.footer-copyright {
	margin: 0 auto;
	text-align: center;
	font-size: 0.8em;
}

.footer-copyright a {
	text-decoration: none;
	color: gray;
}

.center-image {
	display: block;
	margin: 0 auto;
}

input[type=range] {
	-webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
	background: #ddd;
	border-radius: 5px;
	height: 5px;
	border: none;
}

input[type=range]::-moz-range-track {
	background: #ddd;
	border-radius: 5px;
	height: 5px;
	border: none;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #888;
	margin-top: -5px;
}

input[type=range]::-moz-range-thumb {
	-webkit-appearance: none;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #888;
	margin-top: -5px;
}

input[type=range]:focus {
	outline: none;
}

.post-thumbnail {
	height: 15em;
	width: 15em;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

figcaption {
	text-align: center;
}

.spoiler {
    background: rgb(60, 40, 52);
    color: rgb(60, 40, 52);
}

.spoiler p::selection {
    background: rgb(160, 140, 152);
    color: #fafafa;
}

#subscribeToast {
    visibility: hidden;
    min-width: 250px;
    background-color: #334;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: absolute;
    z-index: 1;
    left: 50%;
    translate: -50% 0;

    &.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }
}

@-webkit-keyframes fadein {
    from {translate: -50% 30px; opacity: 0;}
    to {translate: -50% 0; opacity: 1;}
}

@keyframes fadein {
    from {translate: -50% 30px; opacity: 0;}
    to {translate: -50% 0; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {translate: -50% 0; opacity: 1;}
    to {translate: -50% 30px; opacity: 0;}
}

@keyframes fadeout {
    from {translate: -50% 0; opacity: 1;}
    to {translate: -50% 30px; opacity: 0;}
}

