body {
	font-family: "Roboto";
}

pre {
	tab-size: 4;
}

.footer-copyright {
	margin: 0 auto;
	text-align: center;
	font-size: 0.8em;
}

.footer-copyright a {
	text-decoration: none;
	color: gray;
}

input[type=range] {
	-webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
	background: #ddd;
	border-radius: 5px;
	height: 5px;
	border: none;
}

input[type=range]::-moz-range-track {
	background: #ddd;
	border-radius: 5px;
	height: 5px;
	border: none;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #888;
	margin-top: -5px;
}

input[type=range]::-moz-range-thumb {
	-webkit-appearance: none;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #888;
	margin-top: -5px;
}

input[type=range]:focus {
	outline: none;
}

.post-thumbnail {
	height: 15em;
	width: 15em;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

figcaption {
	text-align: center;
}
