
<div>
	<svg width="300px" height="500px">
		<defs>
		<marker id="arrow" markerWidth="10" markerHeight="10" refX="0" refY="3" orient="auto" markerUnits="strokeWidth">
      			<path d="M0,0 L0,6 L6,3 z" fill="#000" />
    		</marker>
		</defs>
		<line x1="148" y1="330" x2="233" y2="412" stroke="black" stroke-width="1" marker-end="url(#arrow)"></line><text x="203" y="384" text-anchor="middle" stroke="black">3</text>
<line x1="36" y1="226" x2="121" y2="305" stroke="black" stroke-width="1" marker-end="url(#arrow)"></line><text x="92" y="278" text-anchor="middle" stroke="black">16</text>
<line x1="29" y1="113" x2="123" y2="68" stroke="black" stroke-width="1" marker-end="url(#arrow)"></line><text x="92" y="83" text-anchor="middle" stroke="black">1000</text>
<circle stoke="black" fill="#AAEEBB" r="30" cx="148" cy="330"></circle><text x="148" y="330" text-anchor="middle" stroke="black">tbsp</text>
<circle stoke="black" fill="#AAEEBB" r="30" cx="259" cy="438"></circle><text x="259" y="438" text-anchor="middle" stroke="black">tsp</text>
<circle stoke="black" fill="#AAEEBB" r="30" cx="36" cy="226"></circle><text x="36" y="226" text-anchor="middle" stroke="black">cup</text>
<circle stoke="black" fill="#AAEEBB" r="30" cx="29" cy="113"></circle><text x="29" y="113" text-anchor="middle" stroke="black">kg</text>
<circle stoke="black" fill="#AAEEBB" r="30" cx="156" cy="53"></circle><text x="156" y="53" text-anchor="middle" stroke="black">g</text>
	</svg>
</div>