
<div>
	<svg width="300px" height="500px">
		<defs>
		<marker id="arrow" markerWidth="10" markerHeight="10" refX="0" refY="3" orient="auto" markerUnits="strokeWidth">
      			<path d="M0,0 L0,6 L6,3 z" fill="#000" />
    		</marker>
		</defs>
		<line x1="265" y1="57" x2="211" y2="145" stroke="black" stroke-width="1" marker-end="url(#arrow)"></line><text x="227" y="119" text-anchor="middle" stroke="black"></text>
<line x1="190" y1="181" x2="129" y2="282" stroke="black" stroke-width="1" marker-end="url(#arrow)"></line><text x="149" y="249" text-anchor="middle" stroke="black"></text>
<line x1="109" y1="318" x2="55" y2="406" stroke="black" stroke-width="1" marker-end="url(#arrow)"></line><text x="71" y="380" text-anchor="middle" stroke="black"></text>
<circle stoke="black" fill="#AAEEBB" r="35" cx="265" cy="57"></circle><text x="265" y="57" text-anchor="middle" stroke="black">A</text>
<circle stoke="black" fill="#AAEEBB" r="35" cx="190" cy="181"></circle><text x="190" y="181" text-anchor="middle" stroke="black">B</text>
<circle stoke="black" fill="#AAEEBB" r="35" cx="109" cy="318"></circle><text x="109" y="318" text-anchor="middle" stroke="black">C</text>
<circle stoke="black" fill="#AAEEBB" r="35" cx="34" cy="442"></circle><text x="34" y="442" text-anchor="middle" stroke="black">D</text>
	</svg>
</div>