
<div>
	<svg width="500px" height="500px">
		<defs>
		<marker id="arrow" markerWidth="10" markerHeight="10" refX="0" refY="3" orient="auto" markerUnits="strokeWidth">
      			<path d="M0,0 L0,6 L6,3 z" fill="#000" />
    		</marker>
		</defs>
		<line x1="321" y1="343" x2="297" y2="274" stroke="black" stroke-width="1" marker-end="url(#arrow)"></line><text x="303" y="291" text-anchor="middle" stroke="black"></text>
<line x1="429" y1="366" x2="356" y2="350" stroke="black" stroke-width="1" marker-end="url(#arrow)"></line><text x="375" y="354" text-anchor="middle" stroke="black"></text>
<line x1="349" y1="440" x2="330" y2="377" stroke="black" stroke-width="1" marker-end="url(#arrow)"></line><text x="335" y="391" text-anchor="middle" stroke="black"></text>
<line x1="238" y1="411" x2="293" y2="365" stroke="black" stroke-width="1" marker-end="url(#arrow)"></line><text x="279" y="377" text-anchor="middle" stroke="black"></text>
<line x1="174" y1="229" x2="250" y2="236" stroke="black" stroke-width="1" marker-end="url(#arrow)"></line><text x="230" y="234" text-anchor="middle" stroke="black"></text>
<line x1="69" y1="219" x2="138" y2="225" stroke="black" stroke-width="1" marker-end="url(#arrow)"></line><text x="121" y="224" text-anchor="middle" stroke="black"></text>
<line x1="343" y1="145" x2="304" y2="209" stroke="black" stroke-width="1" marker-end="url(#arrow)"></line><text x="314" y="192" text-anchor="middle" stroke="black"></text>
<line x1="276" y1="62" x2="320" y2="116" stroke="black" stroke-width="1" marker-end="url(#arrow)"></line><text x="309" y="103" text-anchor="middle" stroke="black"></text>
<line x1="391" y1="55" x2="359" y2="113" stroke="black" stroke-width="1" marker-end="url(#arrow)"></line><text x="367" y="100" text-anchor="middle" stroke="black"></text>
<line x1="454" y1="143" x2="378" y2="144" stroke="black" stroke-width="1" marker-end="url(#arrow)"></line><text x="398" y="144" text-anchor="middle" stroke="black"></text>
<circle stoke="black" fill="#AAEEBB" r="30" cx="321" cy="343"></circle><text x="321" y="343" text-anchor="middle" stroke="black"><tspan x="321" dy="-.3em">east</tspan><tspan x="321" dy=".9em">asian</tspan></text>
<circle stoke="black" fill="#AAEEBB" r="30" cx="286" cy="240"></circle><text x="286" y="240" text-anchor="middle" stroke="black">asian</text>
<circle stoke="black" fill="#AAEEBB" r="30" cx="429" cy="366"></circle><text x="429" y="366" text-anchor="middle" stroke="black">chinese</text>
<circle stoke="black" fill="#AAEEBB" r="30" cx="349" cy="440"></circle><text x="349" y="440" text-anchor="middle" stroke="black">japanese</text>
<circle stoke="black" fill="#AAEEBB" r="30" cx="238" cy="411"></circle><text x="238" y="411" text-anchor="middle" stroke="black">korean</text>
<circle stoke="black" fill="#AAEEBB" r="30" cx="174" cy="229"></circle><text x="174" y="229" text-anchor="middle" stroke="black"><tspan x="174" dy="-.3em">south</tspan><tspan x="174" dy=".9em">asian</tspan></text>
<circle stoke="black" fill="#AAEEBB" r="30" cx="69" cy="219"></circle><text x="69" y="219" text-anchor="middle" stroke="black">indian</text>
<circle stoke="black" fill="#AAEEBB" r="30" cx="343" cy="145"></circle><text x="343" y="145" text-anchor="middle" stroke="black"><tspan x="343" dy="-.3em">southeast</tspan><tspan x="343" dy=".9em">asian</tspan></text>
<circle stoke="black" fill="#AAEEBB" r="30" cx="276" cy="62"></circle><text x="276" y="62" text-anchor="middle" stroke="black">thai</text>
<circle stoke="black" fill="#AAEEBB" r="30" cx="391" cy="55"></circle><text x="391" y="55" text-anchor="middle" stroke="black">vietnamese</text>
<circle stoke="black" fill="#AAEEBB" r="30" cx="454" cy="143"></circle><text x="454" y="143" text-anchor="middle" stroke="black">filipino</text>
	</svg>
</div>
