
<div>
	<svg width="500px" height="500px">
		<defs>
		<marker id="arrow" markerWidth="10" markerHeight="10" refX="0" refY="3" orient="auto" markerUnits="strokeWidth">
      			<path d="M0,0 L0,6 L6,3 z" fill="#000" />
    		</marker>
		</defs>
		<line x1="117" y1="249" x2="266" y2="249" stroke="black" stroke-width="1" marker-end="url(#arrow)"></line><text x="209" y="249" text-anchor="middle" stroke="black"></text>
<line x1="427" y1="249" x2="338" y2="249" stroke="black" stroke-width="1" marker-end="url(#arrow)"></line><text x="364" y="249" text-anchor="middle" stroke="black"></text>
<line x1="43" y1="57" x2="104" y2="215" stroke="black" stroke-width="1" marker-end="url(#arrow)"></line><text x="80" y="153" text-anchor="middle" stroke="black"></text>
<line x1="43" y1="442" x2="104" y2="282" stroke="black" stroke-width="1" marker-end="url(#arrow)"></line><text x="80" y="345" text-anchor="middle" stroke="black"></text>
<circle stoke="black" fill="#AAEEBB" r="30" cx="117" cy="249"></circle><text x="117" y="249" text-anchor="middle" stroke="black">B</text>
<circle stoke="black" fill="#AAEEBB" r="30" cx="302" cy="249"></circle><text x="302" y="249" text-anchor="middle" stroke="black">A</text>
<circle stoke="black" fill="#AAEEBB" r="30" cx="427" cy="249"></circle><text x="427" y="249" text-anchor="middle" stroke="black">C</text>
<circle stoke="black" fill="#AAEEBB" r="30" cx="43" cy="57"></circle><text x="43" y="57" text-anchor="middle" stroke="black">D</text>
<circle stoke="black" fill="#AAEEBB" r="30" cx="43" cy="442"></circle><text x="43" y="442" text-anchor="middle" stroke="black">E</text>
	</svg>
</div>