<link rel="stylesheet" type="text/css" href="/assets/proc-butterfly/index.css"/>
<div id="butterfly-container">
	<canvas height="70%" width="100%"></canvas>
</div>
<div id="button-container">
	<button id="generate">Generate</button>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/numjs/0.16.0/numjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/seedrandom/3.0.5/seedrandom.min.js"></script>
<script src="/assets/proc-boiderflies/THREE.MeshLine.js"></script>
<script src="/assets/proc-boiderflies/index.js"></script>
