---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <div class="post-list">
      {%- for post in site.posts -%}
      <div>
        <a class="post-link" href="{{ post.url | relative_url }}">
        {% assign image_style = "contain" %}
        {%- if post.image_style -%}
          {% assign image_style = post.image_style %}
        {%- endif -%}
        <div class="post-img" style="background-color: {{ post.themecolor }}; background-image: url({{ post.image }}); background-size: {{ image_style }};">
        </div>
        <div class="post-text">
          <h3>
              {{ post.title | escape }}
          </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
          {%- if post.description -%}
            <p>{{ post.description }}</p>
          {%- endif -%}
        </div>
        </a>
      </div>
      {%- endfor -%}
    </div>

  {%- endif -%}

</div>
