---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <h2>{{ page.description | escape }}</h2>
    {% assign image_style = "contain" %}
    {%- unless page.hide_thumbnail -%}
      <div class="post-thumbnail" style="background-image: url({{ page.image }}); "></div>
    {%- endunless -%}
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<form action="https://on-post-subscribe-sa7cpagoga-uc.a.run.app" method="POST"
      style="text-align: center; padding: 15px; background: #F1F1F5;"
      target="dummyframe" onsubmit="clearEmail()">
  <p>Sign up here to get updates on new posts:</p>
  <input type="email" name="email" id="email" placeholder="email"
         required style="font-family: Roboto; width: 45%;" />
  <input type="hidden" id="source" name="source" value="{{page.title}}" />
  <div style="display: none;">
    <label for="firstname">What is your first name?</label>
    <input type="text" id="firstname" name="firstname" />
  </div>
  <input type="submit" value="Subscribe" style="font-family: Roboto;" />
  <div id="subscribeToast">Thanks for subscribing!</div>
</form>

<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>

<script src="https://cdn.jsdelivr.net/npm/mathjax@3.2.2/es5/tex-mml-chtml.min.js"></script>
<script type="text/javascript">
  function clearEmail() {
    setTimeout(function() {
      document.querySelector('#email').value = '';
      showToast();
    }, 5);
  }

  function showToast() {
    const toast = document.querySelector("#subscribeToast");
    toast.classList.add('show');
    setTimeout(function() {
      toast.classList.remove('show');
    }, 3000);
  }
</script>
